*{
    margin: 0;
    padding: 0;
}

/*porpiedades del body */

body{
    height: 100vh;
    font-family: 'Staatliches', cursive;
    background-color: whitesmoke;

}



/* propiedades de la imagen del logo del nav */

.img-logo{
    width: 150px;
    height: 150px;
}

/*propiedades del nav */

.nav-color{
    background-color: black;
}

#navbar-color{
    font-family: 'Staatliches', cursive;
}

/* propiedades titulo nav */

.titulo{
    color: white;
    font-family: 'Staatliches', cursive;
    
}
/*propiedades titutlo bajo nav */

#bienvenidos{
    background-color: rgb(255, 159, 142);
}

/*porpiedades footer */

footer a{
    text-decoration: none;
    background-color: rgb(252, 165, 165);
    color: black;
    font-weight: bold;
    border: black solid 0.2vw;
    padding: 0.3vw;
    
}

/*porpiedades imagenes que se agrandad */

.img-agrandar:hover {
    animation-name: agrandarF;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function:step-start;
}

@keyframes agrandarF{
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.2);
    }
}

/* texto promociones */

.texto-promos a{
    text-decoration: none;
    color: rgb(253, 116, 116);
}


@media  screen and (min-width: 320px) and (max-width: 768px) {
    #texto-lorem{
        display: none; 
    }

    .titulo{
        display: none;
    }

    #lorem{
        display: block;
        text-align: center;
        width: 100vw;   
    }

    .promociones{
        text-align: center;
    }

    .descuento-none{
       display: none;
    }

   #redes{
       display: flex;
       justify-content: space-around;
       
   }

   #redes img{
       width: 60px;
       height: 60px;
   }

    #form{
       margin: 0.1em;
       
   }



   
   

}













