/* porpiedades footer */

footer{
    div{
        a{
            text-decoration: none;
            background-color: rgb(252, 165, 165);
            color: black;
            font-weight: bold;
            border: black solid 0.2vw;
            padding: 0.3vw;
        }
    }
}